<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>本体开源</title>
    <link rel="icon" type="image/png" href="./imgs/logo1.png">
    <link rel="stylesheet" href="./lib/element-plus/index.min.css">
    <link rel="stylesheet" href="./css/index.css">
    <script src="./lib/vue@3/index.min.js"></script>
    <script src="./lib/element-plus/index.min.js"></script>
    <style>
    </style>
</head>
<body>
    <div
        id="app">
        <div
            @scroll="handleScroll">
            <div
                :class="{
                    container: true,
                    scroll: scrollPosition > 0
                }">
                <div
                    class="header">
                    <div class="content">
                        <div
                            class="pos-left">
                            <img src="./imgs/logo1.png"/>
                        </div>
                        <div
                            class="pos-right">
                            <el-dropdown
                                @command="handleGithubCommand">
                                <span class="el-dropdown-link">
                                    GitHub
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="14"
                                        height="14"
                                        viewBox="0 0 14 14"
                                        fill="none">
                                        <path
                                            d="M4 6L7 9L10 6"
                                            stroke="currentColor"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"/>
                                    </svg>
                                </span>
                                <template #dropdown>
                                    <el-dropdown-menu>
                                        <el-dropdown-item command="ontology">自智网络本体</el-dropdown-item>
                                        <el-dropdown-item command="odlm">数据治理本体</el-dropdown-item>
                                        <el-dropdown-item command="customer">客户关系管理本体</el-dropdown-item>
                                    </el-dropdown-menu>
                                </template>
                            </el-dropdown>
                            <div class="el-link" @click="goTo('https://github.com/asiainfo/ODLM-Ontology/issues')">联系我们</div>
                        </div>
                    </div>
                </div>
                <div
                    id="banner"
                    class="banner">
                    <div class="content">
                        <div
                            class="pos-left">
                            <div class="title">
                                Ontology4AI
                            </div>
                            <div class="descr">
                                Ontology4AI一个本体开源项目，旨在汇聚AI时代各行业领域的本体模型，共同打造企业认知的“操作系统”，为大模型赋予结构化世界观。通过打通语义理解、逻辑推理与系统执行的闭环，实现可解释、可追溯、可控制，让AI从“泛化生成”跃迁至“精准决策”，成为企业战略落地的数字引擎。
                            </div>
                            <div class="btn-group">
                                <el-button
                                    round
                                    class="home-btn"
                                    @click="goToSection('resource')">
                                    自智网络本体
                                </el-button>
                                <el-button
                                    round
                                    class="home-btn"
                                    @click="goToSection('resource')">
                                    数据治理本体
                                </el-button>
                                <el-button
                                    round
                                    class="home-btn"
                                    @click="goToSection('customer')">
                                    客户关系管理本体
                                </el-button>
                            </div>
                        </div>
                        <div
                            class="pos-right">
                            <img src="./imgs/banner-bg.png"/>
                        </div>
                    </div>
                </div>
                <div class="resource">
                    <!--<img src="./imgs/resource-bg-circle.png"/>-->

                    <div class="content">
                        <div
                            class="resource-title">
                            面向AI的开源本体库
                        </div>
                        <div
                            class="resource-descr">
                            面向AI的本体开源库包括自智网络本体、数据治理本体、客户关系管理本体三大本体库，优先开源物联网投诉工单本体、数据血缘本体、客户服务本体，通过共享协作生态，赋能通信、能源、政务、交通等七大领域，形成“感知-决策-执行-优化”的闭环，实现数据驱动的精准决策，推动企业从流程自动化向智能决策升级。
                        </div>

                        <div
                            class="resource-intro-img">

                            <div
                                :style="{
                                    padding: '24px',
                                    background: '#fff',
                                    fontSize: '16px',
                                    fontFamily: 'HarmonyOS Sans SC'
                                }">
                                <div
                                    :style="{
                                        display: 'flex',
                                        columnGap: '12px',
                                        marginBottom: '24px'
                                    }">
                                    <div
                                        :style="{
                                            width: 'calc((100% - 12px * 6) / 7)',
                                            background: 'rgba(239, 244, 249, 0.7)',
                                            padding: '20px 23px',
                                            display: 'flex',
                                            alignItems: 'center'
                                        }"
                                        v-for="item in [
                                            {
                                                label: '通信',
                                                icon: 'icon_1.png'
                                            },
                                            {
                                                label: '广电',
                                                icon: 'icon_2.png'
                                            },
                                            {
                                                label: '能源',
                                                icon: 'icon_3.png'
                                            },
                                            {
                                                label: '交通',
                                                icon: 'icon_4.png'
                                            },
                                            {
                                                label: '金融',
                                                icon: 'icon_5.png'
                                            },
                                            {
                                                label: '邮政',
                                                icon: 'icon_6.png'
                                            },
                                            {
                                                label: '政务',
                                                icon: 'icon_7.png'
                                            }
                                        ]">
                                        <span
                                            :style="{
                                                fontSize: '16px',
                                                fontWeight: 600,
                                                color: '#021320',
                                                flex: 1
                                            }">
                                            {{item.label}}
                                        </span>
                                        <img
                                            :style="{
                                                width: '16px',
                                                height: '16px'
                                            }"
                                            :src="`./imgs/${item.icon}`"/>
                                    </div>
                                </div>
                                <div
                                    :style="{
                                        display: 'flex',
                                        columnGap: '24px'
                                    }">
                                    <div
                                        :style="{
                                            width: 'calc((100% - 24px) / 2)'
                                        }">
                                        <div
                                            :style="{
                                                height: '40px',
                                                lineHeight: '40px',
                                                color: '#fff',
                                                background: '#F09324',
                                                textAlign: 'center',
                                                fontWeight: 600
                                            }">
                                            自智网络本体
                                        </div>
                                        <div
                                            :style="{
                                                display: 'flex',
                                                columnGap: '12px',
                                                flexWrap: 'wrap',
                                                marginTop: '12px'
                                            }">
                                            <div
                                                v-for="item in [
                                                    { text: '网络资源本体' },
                                                    { text: '核心网本体' },
                                                    { text: '物联网投诉工单本体', active: true },
                                                    { text: '无线质量本体' },
                                                    { text: '资源数据自愈本体' },
                                                    { text: '云网数字孪生本体' }
                                                ]"
                                                :key="item.text"
                                                :style="{
                                                    width: 'calc((100% - 24px) / 3)',
                                                    height: '62px',
                                                    lineHeight: '62px',
                                                    background: item.active ? '#fff' : '#FFF5E8',
                                                    textAlign: 'center',
                                                    marginBottom: '10px',
                                                    color: item.active ? '#D77500' : '#021320',
                                                    border: item.active ? '1px solid #F09324' : '0px',
                                                    boxShadow: item.active ? '0px 0px 6px rgba(240, 147, 36, 0.6)' : 'none'
                                                }">
                                                {{item.text}}
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        :style="{
                                            width: 'calc((100% - 24px) / 2)'
                                        }">
                                        <div
                                            :style="{
                                                height: '40px',
                                                lineHeight: '40px',
                                                color: '#fff',
                                                background: '#4BAA7E',
                                                textAlign: 'center',
                                                fontWeight: 600
                                            }">
                                            数据治理本体
                                        </div>
                                        <div
                                            :style="{
                                                display: 'flex',
                                                columnGap: '12px',
                                                flexWrap: 'wrap',
                                                marginTop: '12px'
                                            }">
                                            <div
                                                v-for="item in [
                                                    { text: '数据血缘本体' , active: true },
                                                    { text: '元数据管理本体' },
                                                    { text: '数据质量本体' },
                                                    { text: '数据标准本体' },
                                                    { text: '数据指标本体' },
                                                    { text: '安全合规本体' }
                                                ]"
                                                :key="item.text"
                                                :style="{
                                                    width: 'calc((100% - 24px) / 3)',
                                                    height: '62px',
                                                    lineHeight: '62px',
                                                    background: item.active ? '#fff' : '#D3F5E5',
                                                    textAlign: 'center',
                                                    marginBottom: '10px',
                                                    color: item.active ? '#00914E' : '#021320',
                                                    border: item.active ? '1px solid #4BAA7E' : '0px',
                                                    boxShadow: item.active ? '0px 0px 6px rgba(75, 170, 126, 0.6)' : 'none'
                                                }">
                                                {{item.text}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    :style="{
                                        width: 'calc(100%)'
                                    }">
                                    <div
                                        :style="{
                                            height: '40px',
                                            lineHeight: '40px',
                                            color: '#fff',
                                            background: '#137BD2',
                                            textAlign: 'center',
                                            fontWeight: 600
                                        }">
                                        客户关系管理本体
                                    </div>
                                    <div
                                        :style="{
                                            display: 'flex',
                                            columnGap: '12px',
                                            flexWrap: 'wrap',
                                            marginTop: '12px'
                                        }">
                                        <div
                                            v-for="item in [
                                                { text: '客户体验管理本体' , active: true },
                                                { text: '产品营销本体' , active: true  },
                                                { text: '销售管理本体' },
                                                { text: '客户信息管理本体' }
                                            ]"
                                            :key="item.text"
                                            :style="{
                                                width: 'calc((100% - 36px) / 4)',
                                                height: '62px',
                                                lineHeight: '62px',
                                                background: item.active ? '#fff' : '#DEEEFE',
                                                textAlign: 'center',
                                                marginBottom: '10px',
                                                color: item.active ? '#137BD2' : '#021320',
                                                border: item.active ? '1px solid #137BD2' : '0px',
                                                boxShadow: item.active ? '0px 0px 6px rgba(75, 170, 126, 0.6)' : 'none'
                                            }">
                                            {{item.text}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            id="resource"
                            class="card-group">
                            <div
                                class="card">
                                <img src="./imgs/resource-icon-2.png"/>
                                <div
                                    class="card-content">
                                    <div class="card-label">
                                        自智网络本体
                                    </div>
                                    <div class="card-name">
                                        Autonomous Network Ontology
                                    </div>
                                    <div class="card-descr">
                                        自智网络本体（Autonomous Network Ontology，AN Ontology）是对自智网络领域中的核心概念、实体、属性、关系以及约束规则进行的形式化、明确化的规范定义。它充当机器的“世界模型”，为智能体提供精确的推理依据，确保自然语言交互的准确性，并将高层业务意图转化为可执行的网络策略，是实现L4/L5级自智网络自动化与闭环决策的核心基石。
                                    </div>
                                    <div class="card-btn">
                                        <el-button
                                            class="home-btn"
                                            round
                                            @click="goTo('https://github.com/asiainfo/AN-Ontology/blob/main/README.md')">
                                            查看OWL
                                        </el-button>
                                        <el-button
                                            class="home-btn"
                                            round
                                            @click="goTo('https://github.com/asiainfo/AN-Ontology/issues')">
                                            新建问题
                                        </el-button>
                                    </div>
                                </div>
                            </div>

                            <div
                                class="card">
                                <img src="./imgs/resource-icon-1.png"/>
                                <div
                                    class="card-content">
                                    <div class="card-label">
                                        数据治理本体
                                    </div>
                                    <div class="card-name">
                                        Ontology for Data Lake Management
                                    </div>
                                    <div class="card-descr">
                                        数据治理本体（Ontology for Data Lake Management，ODLM）是一种基于本体论的标准化语义模型，专为数据湖提供端到端数据治理框架。它系统化定义数据血缘、元数据、数据质量、数据标准、数据指标、安全合规等核心要素，不仅统一管理元数据，同时支持AI深度理解数据上下文。通过融合底层血缘与业务语义，自动揭示隐性关联和跨域数据逻辑，支撑智能检索、影响分析和合规管控，从而释放数据深层价值。
                                    </div>
                                    <div class="card-btn">
                                        <el-button
                                            class="home-btn"
                                            round
                                            @click="goTo('https://github.com/asiainfo/ODLM-Ontology/blob/main/README.md')">
                                            查看OWL
                                        </el-button>
                                        <el-button
                                            class="home-btn"
                                            round
                                            @click="goTo('https://github.com/asiainfo/ODLM-Ontology/issues')">
                                            新建问题
                                        </el-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            id="customer"
                            class="card-group">
                            <div
                                class="card">
                                <img src="./imgs/resource-icon-1.png"/>
                                <div
                                    class="card-content">
                                    <div class="card-label">
                                        客户关系管理本体
                                    </div>
                                    <div class="card-name">
                                        Customer Relationship Management Ontology
                                    </div>
                                    <div class="card-descr">
                                        客户关系管理本体（Customer Relationship Management Ontology，CRM Ontology）是一种基于本体论的标准化语义模型，专为客户关系管理领域提供端到端的客户业务管理统一框架。通过结构化定义客户实体、交互行为、决策链关系、价值指标、服务流程等核心要素，形成可动态更新的知识体系，将分散的客户信息转化为可计算、可推理的知识网络，最终实现客户关系的精准化运营与企业收益的持续优化。
                                    </div>
                                    <div class="card-btn">
                                        <el-button
                                            class="home-btn"
                                            round
                                            @click="goTo('https://github.com/asiainfo/CRM-Ontology/blob/main/README.md')">
                                            查看OWL
                                        </el-button>
                                        <el-button
                                            class="home-btn"
                                            round
                                            @click="goTo('https://github.com/asiainfo/CRM-Ontology/issues')">
                                            新建问题
                                        </el-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="community">
                    <div class="content">
                        <div
                            class="community-label">
                            社区驱动
                        </div>
                        <div
                            class="community-descr">
                            由社区维护与构建
                        </div>
                        <div
                            class="card">
                            <div
                                class="card-info pos-left">
                                <div
                                    class="card-label">
                                    公开公平的协作原则
                                </div>
                                <div
                                    class="card-descr">
                                    本体开源项目打造开放协作平台，通过标准化接口支持快速集成第三方系统，提供数据、推理与执行服务。开发者、企业和研究机构均可接入资源，共同推动智能创新。我们相信透明环境能激发集体智慧，实现多方共赢。
                                </div>
                            </div>
                            <div
                                class="card-img pos-right">
                                <img src="./imgs/community-1.png"/>
                            </div>
                        </div>
                        <div
                            class="card">
                            <div
                                class="card-img pos-left">
                                <img src="./imgs/community-2.png"/>
                            </div>
                            <div
                                class="card-info pos-right">
                                <div
                                    class="card-label">
                                    活跃的社区与多样化团队
                                </div>
                                <div
                                    class="card-descr">
                                    我们的社区汇聚企业、院校和研究机构的专业人士，形成多元化协作网络。成员积极参与问题跟踪、功能优化和技术讨论，分享经验见解，共同完善本体内容和基础设施。跨领域合作加速创新，促进知识共享，每个新版本都凝聚专家智慧。
                                </div>
                            </div>
                        </div>
                        <div
                            class="card">
                            <div
                                class="card-info pos-left">
                                <div
                                    class="card-label">
                                    标准格式与持久化访问
                                </div>
                                <div
                                    class="card-descr">
                                    本体开源项目采用OWL（RDF/XML）标准发布，用户可通过GitHub获取完整资源。所有文件均包含版本化IRI标识符，确保更新可追溯。通过标准化数据模型与开放格式，项目实现了跨平台互操作性，支持与主流工具无缝集成。
                                </div>
                            </div>
                            <div
                                class="card-img pos-right">
                                <img src="./imgs/community-3.png"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="partner">
                    <div class="content">

                        <div
                            class="partner-label">
                            主办单位
                        </div>
                        <div
                            class="card-list"
                            style="justifyContent: center;">
                            <div
                                class="card">
                                <img src="./imgs/asiainfo-logo.png"/>
                            </div>
                        </div>


                        <div
                            class="partner-label">
                            联合单位
                        </div>
                        <div
                            class="card-list">
                            <div
                                class="card">
                                <img src="./imgs/中国移动.png"/>
                            </div>
                            <!-- <div
                                class="card">
                                <img style="width: calc(100% - 40px); height: auto" src="./imgs/电信研究院.png"/>
                            </div>-->
                            <div
                                class="card">
                                <img src="./imgs/中信科移动.png"/>
                            </div>

                            <div
                                class="card">
                                <img src="./imgs/intel.png"/>
                            </div>
                            
                             <div
                                class="card">
                                <img src="./imgs/高通.png"/>
                            </div>
                            
                             <div
                                class="card">
                                <img src="./imgs/BMO.png"/>
                            </div>
                            <div
                                class="card">
                                <img src="./imgs/Ascend.png"/>
                            </div>
                            <div
                                class="card">
                                <img src="./imgs/veryK.png"/>
                            </div>
                            <div
                                class="card">
                                <img style="width: calc(100% - 40px); height: auto" src="./imgs/清华AIR.jpg"/>
                            </div>
                            <div
                                class="card">
                                <img src="./imgs/同济大学logo.jpg"/>
                            </div>
                            <div
                                class="card">
                                <img src="./imgs/中山大学.png"/>
                            </div>
                             <div
                                class="card">
                                <img src="./imgs/济南大学logo 2.jpg"/>
                            </div>
                            <div
                                class="card">
                                <img src="./imgs/紫金山logo.png"/>
                            </div>
                            <div
                                class="card">
                                <img src="./imgs/阿尔伯塔大学.png"/>
                            </div>
                            <div
                                class="card">
                                <img src="./imgs/香港理工.png"/>
                            </div>  
                            <div
                                class="card">
                                <img src="./imgs/IEEEpng.png"/>
                            </div>  
                           
                        </div>
                    </div>
                </div>
                
                <div class="footer">
                    <div class="content">
                        <div
                            class="link">
                            <div class="pos-left">
                                <img src=""/>
                            </div> 
                        
                            <div class="pos-right">
                                <div
                                    class="el-link"
                                    @Click="reload">
                                    GitHub
                                </div>
                                <div
                                    class="el-link"
                                    @Click="goTo('https://github.com/asiainfo/ODLM-Ontology/issues')">
                                    联系我们
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const { createApp, ref, onMounted } = Vue;
        
        const app = createApp({
            setup() {
                const scrollPosition = ref(0);
                
                const handleScroll = (e) => {
                    scrollPosition.value = e.target.scrollTop;
                };

                const handleGithubCommand = (command) => {
                    if (command === 'odlm') {
                        window.open('https://github.com/asiainfo/ODLM-Ontology');
                    } else if (command === 'ontology') {
                        window.open('https://github.com/asiainfo/AN-Ontology');
                    } else {
                        // 客户关系管理本体 github地址
                        window.open('https://github.com/asiainfo/CRM-Ontology');
                    }
                }
                const scrollToTarget = (targetId) => {
                    // window.location.hash = ''; 
                    const target = document.getElementById(targetId);
                    if (target) {
                        target.scrollIntoView({
                            behavior: 'smooth',
                            block: 'start',
                            inline: 'nearest'
                        });
                    }
                }
                const goToSection = (targetId) => {
                    scrollToTarget(targetId)
                }

                const goTo = (href) => {
                    window.open(href);
                }

                const reload = () => {
                    window.location.reload()
                }
                
                return {
                    scrollPosition,
                    handleScroll,
                    scrollToTarget,
                    handleGithubCommand,
                    goToSection,
                    goTo,
                    reload
                };
            },
            onMounted() {
            }
        });
        app.use(ElementPlus);
        app.mount('#app');
    </script>
</body>

</html>





